@page "/about"

<PageTitle>About</PageTitle>

<h3><span class="oi oi-clipboard" aria-hidden="true"></span> About</h3>
<hr />

<p>
    Created by Zach Sanford. Made for WRM Software.
</p>
<p>
    My Links:
    <ul>
        <li><a href="https://www.twitter.com/zachsanford/">Twitter</a></li>
        <li><a href="https://www.github.com/zachsanford/">GitHub</a></li>
        <li><a href="https://www.zachsanford.com/">Website</a></li>
    </ul>
</p>