@page "/employeedetails"
@using Staffify.Components
@using Staffify.Database
@using Staffify.Models.Data
@using Staffify.Services
@inject Database database
@inject AppSingletonData employeeData
@inject NavigationManager navigation

<PageTitle>@employeeData.Employee.Name Details</PageTitle>

@if (employee != null)
{
    <h3><span class="oi oi-person" aria-hidden="true"></span> @employeeData.Employee.Name Details</h3>
    <hr />

    <div class="parent">
        <EditForm Model="@employee" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="column">
                <div class="row">
                    <p>
                        <label>
                            <b>Employee ID:</b>
                            @employee.EmployeeId
                        </label>
                    </p>
                </div>
                <div class="row">
                    <p>
                        <label>
                            <b>Phone Number:</b>
                            <InputText class="textInput" @bind-Value="employee.PhoneNumber" />
                        </label>
                    </p>
                </div>
            </div>
            <div class="column right">
                <div class="row">
                    <p>
                        <label>
                            <b>Name:</b>
                            <InputText class="textInput" @bind-Value="employee.Name" />
                        </label>
                    </p>
                </div>
                <div class="row">
                    <p>
                        <label>
                            <b>Email Address:</b>
                            <InputText class="textInput" @bind-Value="employee.EmailAddress" />
                        </label>
                    </p>
                </div>
            </div>
            <p>
                <button class="btn btn-primary" data-toggle="modal fade" type="submit"><span class="oi oi-cloud-upload" aria-hidden="true"></span> Update</button>
                <button class="btn btn-danger" @onclick="GoBack"><span class="oi oi-x" aria-hidden="true"></span> Cancel</button>
            </p>
        </EditForm>
    </div>

    @if (showModal)
    {
        @if (isGoodUpdate)
        {
            <Modal Title="Update Details" Body="The employee has been successfully updated" ButtonText="Close" Route="/" />
        }
        else
        {
            <Modal Title="Update Details" Body="UNSUCCESSFUL UPDATE" ButtonText="Close" Route="/" />
        }
    }
}
else
{
    <h3>LOADING EMPLOYEE</h3>

    <p>Loading Employee...</p>
}

@code {
    Employee? employee;
    bool showModal = false;
    bool isGoodUpdate;

    protected override async Task OnInitializedAsync()
    {
        employee = database.GetSingleRecord(employeeData.Employee.Id);
    }

    private void HandleValidSubmit()
    {
        isGoodUpdate = database.UpdateSingleRecord(employee);
        showModal = true;
    }

    private void GoBack()
    {
        navigation.NavigateTo("/");
    }
}
