@page "/employeedetails"
@using Staffify.Database
@using Staffify.Models.Data
@using Staffify.Services
@inject Database database
@inject AppSingletonData employeeData
@inject NavigationManager navigation

@if (employee != null)
{
    <h3><span class="oi oi-person" aria-hidden="true"></span> @employee.Name's Details</h3>
    <hr />

    <EditForm Model="@employee" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <p>
            <label>
                Employee ID:
                @employee.EmployeeId
            </label>
        </p>
        <p>
            <label>
                Name:
                <InputText @bind-Value="employee.Name" />
            </label>
        </p>
        <p>
            <label>
                Phone Number:
                <InputText @bind-Value="employee.PhoneNumber" />
            </label>
        </p>
        <p>
            <label>
                Email Address:
                <InputText @bind-Value="employee.EmailAddress" />
            </label>
        </p>
        <p>
            <button class="btn btn-primary" type="submit"><span class="oi oi-cloud-upload" aria-hidden="true"></span> Update</button>
            <button class="btn btn-danger" @onclick="GoBack"><span class="oi oi-x" aria-hidden="true"></span> Cancel</button>
        </p>
    </EditForm>
}
else
{
    <h3>LOADING EMPLOYEE</h3>

    <p>Loading Employee...</p>
}

@code {
    Employee? employee;

    protected override async Task OnInitializedAsync()
    {
        employee = database.GetSingleEmployee(employeeData.Employee.Id);
    }

    private void HandleValidSubmit()
    {
        bool isUpdated = database.UpdateSingleEmployee(employee);
    }

    private void GoBack()
    {
        navigation.NavigateTo("/");
    }
}
